<?xml version="1.0"?>

<model>
  <name>RMURV2 Marker</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Martin Peter Christianse</name>
    <email>mapc@mmmi.sdu.dk</email>
  </author>

  <description>
    Marker for the RMURV2 - 2019 miniproject four 
  </description>

</model>
